body{
	background: #fff;
}
.container{
	max-width: 1030px;
    min-width: 270px;
    padding:40px 15px 15px;
    margin:0 auto 40px;
}
.container .submenu{
	width: 26.6%;
	float: left;
}
.container .submenu ul{
	padding-right: 17px;
    border-right: 1px solid #bababa;
}
.container .submenu ul li{
	line-height: 77px;
	border-bottom:4px solid transparent ;
}
.container .submenu ul li:hover{
	border-bottom:4px solid #fa9634;
}
.container .submenu ul li.active{
	border-bottom:4px solid #fa9634;
}
.container .submenu ul li a{
	display:block;
	font-size: 1.375em;
	color: #222;
	line-height: 77px;
	text-indent:70px;
}
.container .submenu ul li:first-of-type{
	background:url(../images/service_03.jpg) no-repeat 20px center;
}
.container .submenu ul li:first-of-type:hover,
.container .submenu ul li:first-of-type.active{
	background:url(../images/service_04.jpg) no-repeat 20px center;
}
.container .submenu ul li:nth-of-type(2){
	background:url(../images/service_05.jpg) no-repeat 20px center;
}
.container .submenu ul li:nth-of-type(2):hover,
.container .submenu ul li:nth-of-type(2).active{
	background:url(../images/service_06.jpg) no-repeat 20px center;
}
.container .submenu ul li:nth-of-type(3){
	background:url(../images/service_08.jpg) no-repeat 20px center;
}
.container .submenu ul li:nth-of-type(3):hover,
.container .submenu ul li:nth-of-type(3).active{
	background:url(../images/service_09.jpg) no-repeat 20px center;
}
.container .submenu ul li:nth-of-type(4){
	background:url(../images/service_10.jpg) no-repeat 20px center;
}
.container .submenu ul li:nth-of-type(4):hover,
.container .submenu ul li:nth-of-type(4).active{
	background:url(../images/service_11.jpg) no-repeat 20px center;
}
.container .main{
	width: 73.4%;
	float: left;
}
.container .main div{
	padding-left: 48px;
	font-size: 16px;
	line-height: 30px;
	color: #222;
}
.container .main div h4{
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	color: #fa9634;
}
.container .main div h4 span{
	font: 16px/50px;
	font-weight: normal;
	color: #222;
}
.container .main div p{
    text-indent: 32px;
}
.container .main div h5 {
    font-size: 16px;
    color: #222222;
    font-weight: bold;
}
.main div h6 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.main div tel{
	font-size: 22px;
	font-weight: bold;
	display:block;
	text-indent:32px;
}
.main div tel span{
	padding-left:40px;
	display: inline-block;
	font-family: "microsoft yahei";
	text-indent: 0;
	color:#121221;
}
@media screen and (max-width:1001px){
	.container .submenu ul li:first-of-type:hover{
	background:url(../images/service_03.jpg) no-repeat 20px center;
	}
	.container .submenu ul li:first-of-type.active{
		background:url(../images/service_04.jpg) no-repeat 20px center;
	}
	.container .submenu ul li:nth-of-type(2):hover{
		background:url(../images/service_05.jpg) no-repeat 20px center;
	}
	.container .submenu ul li:nth-of-type(2).active{
		background:url(../images/service_06.jpg) no-repeat 20px center;
	}
	.container .submenu ul li:nth-of-type(3):hover{
		background:url(../images/service_08.jpg) no-repeat 20px center;
	}
	.container .submenu ul li:nth-of-type(3).active{
		background:url(../images/service_09.jpg) no-repeat 20px center;
	}
	.container .submenu ul li:nth-of-type(4):hover{
		background:url(../images/service_10.jpg) no-repeat 20px center;
	}
	.container .submenu ul li:nth-of-type(4).active{
		background:url(../images/service_11.jpg) no-repeat 20px center;
	}
}
@media screen and (min-width:1001px){
	.main div tel{
		text-indent: 0;
	}
}
@media screen and (max-width:1000px) and (min-width:768px){
	.main div tel{
		font-size: 20px;
	}
}
@media screen and (max-width:767px){
	.main div tel{
		font-size:18px;
	}
	.main div tel span{
		font-size: 18px;
		padding-left: 32px;
	}
	.main div tel span:first-of-type{
		padding-left: 0;
	}
}
@media screen and (max-width:437px){
	.main div tel span.one{
		display: block;
	}
}
@media screen and (max-width:320px){
	.main div tel span.two{
		display: block;
	}
}
@media screen and (max-width: 1020px){
	.container .submenu  ul li:hover{
	    border-bottom-color: #fff;
	}
}
@media screen and (min-width: 1001px){
	.container .main div p{
	    text-indent: 0px !important;
	}
}
@media screen and (min-width:768px) and (max-width:1000px){
	.container{
		padding: 0 15px;
		margin:40px 0;
	}
	.container .submenu{
		width: 29%;
	}
	.container .submenu ul li a{
		line-height:67px;
	}
	.container .main{
		width: 71%;
	}
}
@media screen and (max-width:767px){
	.container{
		padding:0 15px;
    	margin: 20px auto 40px;
	}
	.container .submenu{
		width: 100%;
	}
	.container .submenu ul{
		border: none;
		padding-right: 0;
	}
	.container .submenu ul li{
		width:25%;
		float: left;
		background-position: center 10px !important;
		text-align: center;
	}
	.container .submenu ul li:nth-of-type(2){
		background-position: center 4px !important;
	}
	.container .submenu ul li a{
		line-height: 50px;
		font-size: 20px;
		padding-top: 50px;
		text-indent: 0 !important;
	}
	.container .main{
		width: 100%;
	}
	.container .main div{
		padding-left: 0;
	}
}
@media screen and (max-width:481px){
	.container{
		font-family: simsun
	}
	.container .submenu ul li a{
		font-size: 16px;
		line-height: 40px;
	}
	.container .submenu ul li a span{
		display: none;
	}
	.container .main div h4{
		font-size: 16px;
	    line-height: 30px;
	    padding-top: 10px;
	}
	.container .main div p{
		font-size: 14px;
	}
	.container .main div p:last-of-type{
		margin-bottom: 45px;
	}
	#up{
		display: none !important;
	}
}
@media screen and (max-width:1050px){
	.container .submenu ul li a{
		width: 90%;
	}
}
@media screen and (max-width:481px){
	.container .submenu ul li a{
		font-family: ‘黑体’;
	}
}
